/* ****** Custom Properties ****** */
:root {
    --gap: 7.5em;
}

/* ****** Reset ****** */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: #4D4637;
    background: rgb(63,94,251);
    background: radial-gradient(circle, #2F4858, #006A79, #008D82, #41AE72, #9AC854, #FDD641);
}

img {
    display: block;
    max-width: 100%;
}

/* ****** Typography ******* */

h1,
.result-display {
    font-weight: 800;
    font-size: 1.75em;
    text-align: center;
}

h2,
.btn {
    font-size: 2.25em;
}

.choices {
    font-size: 2.75em;
    filter: drop-shadow(3px 3px 6px #23232399);
}

.result-display {
    color: #00A488;
    min-height: 3em;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* ****** Layout ****** */

.container {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.choices-box {
    width: 50vw;
    margin: auto;
    margin-bottom: var(--gap);
}

.choices-box {
    flex: 8em 0 0;
}

.btns-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70vw;
    margin: auto;
    perspective: 1000px;
}

/* ****** Components ****** */

.btn {
    border: none;
    border-radius: 50%;
    background-color: #FC8C79;
    box-shadow: 
    1px 1px 3px 1px #2F485880,
    2px 2px 5px 2px #2F48584D;
    transform: background-color 1000ms ease-in, translate 1000ms;
}

.btn:hover,
.btn:focus {
    background-color: #ff9b88;
}

.btn:active {
    box-shadow: none;
    transform: translateZ(5px);
}


/* ****** Media Queries ****** */