/* ****** Custom Properties ****** */
/* :root {
    --gap: 7.5em;
} */

/* ****** Reset ****** */
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: #4D4637;
    background: rgb(63,94,251);
    background: radial-gradient(circle, #2F4858, #006A79, #008D82, #41AE72, #9AC854, #FDD641);
    background-size: contain;
}

img {
    display: block;
    max-width: 100%;
}

/* ****** Typography ******* */

h1,
.result-display {
    font-weight: 800;
    font-size: 1.75em;
    text-align: center;
}

h2,
.btn {
    font-size: 2.25em;
}

.choices {
    font-size: 2.75em;
    filter: drop-shadow(3px 3px 6px #23232399);
}

.result-display {
    color: #00A488;
    min-height: 3em;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* ****** Layout ****** */

.container {
    padding: 1em;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "choices"
    "results"
    "btns";
}

header {
    grid-area: header;
}

.choices-box {
    max-width: 70vw;
    min-width: 50vw;
    grid-area: choices;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.results-area {
    grid-area: results;
}

.btns-box {
    grid-area: btns;
    display: inline-grid;
    justify-content: center;
    grid-gap: 1em;
    grid-auto-flow: column;
}

.btn {
    aspect-ratio: 1;
}

/* ****** Components ****** */

.btn {
    border: none;
    border-radius: 50%;
    background-color: #FC8C79;
    box-shadow: 
    1px 1px 3px 1px #2F485880,
    2px 2px 5px 2px #2F48584D;
    transform: background-color 1000ms ease-in, translate 1000ms;
    perspective: 1000px;
}

.btn:hover,
.btn:focus {
    background-color: #ff9b88;
}

.btn:active {
    box-shadow: none;
    transform: translateZ(5px);
}

/* ****** Media Queries ****** */

@media (max-height: 450px) and (orientation: landscape) {
    .container {
    margin: 0;
    padding: 0;
    height: clamp(300px, 400px, 450px);
    text-align: center;
    display: grid;
    grid-template-areas: 
    "header header"
    "choices btns"
    "results results";
    grid-template-columns: minmax(500px, 1fr);
    grid-template-rows: 20px 1fr 30px;
    overflow: hidden;
    }
    header {
        margin: 0;
        padding: 0;
        grid-area: header;
    }
    .choices-box {
        grid-area: choices;
        place-items: center;
        /* grid-template-rows: repeat(2, 150px); */
        max-width: 65vw;
        min-width: 50vw;
    }
    .choices {
        font-size: 2em;
        display: grid;
        align-content: center;
    }
    .results-area {
        grid-area: results;
        align-content: center;
        display: inline-grid;
    }
    .btns-box {
        /* grid-area: btns; */
        display: flex;
        flex-direction: column;
        flex-basis: 100px;
        justify-content: center;
        /* align-items: center; */
        gap: 2em;
        
    }
    .btn {
        flex-basis: 60px;
        aspect-ratio: 1;
        margin-right: 1em;
    }
}

@media (max-width: 900px) {
    .choices-box {
        margin: 0 auto;
        text-align: center;
    }
}

@media (min-height: 700px) and (orientation: landscape) {
    .container {
        display: grid;
        grid-template-areas: 
        "header"
        "choices"
        "results"
        "btns";
        grid-template-columns: 500px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    header {
        grid-area: header;
    }
    .choices-box {
        grid-area: choices;
    }
    .results-area {
        grid-area: results;
    }
    .btns-box {
        grid-area: btns;
    }
}   

@media (min-width: 992px) {
    .container {
        display: grid;
        grid-template-areas: 
        "header"
        "choices"
        "results"
        "btns";
        grid-template-columns: 500px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    header {
        grid-area: header;
    }
    .choices-box {
        grid-area: choices;
    }
    .results-area {
        grid-area: results;
    }
    .btns-box {
        grid-area: btns;
    }
}